# Aliases
alias ls='lsd'
alias lsdr='lsd --date="relative" -tr'
alias h='history'

# tmux
alias t="tmux"
alias ta="tmux attach"
alias td="tmux detach"

# projects
alias projectgu="cd ~/www/giftuniverse/giftuniverse_rm && itermocil giftuniverse --here"

# general
alias hostedit='sudo vim /etc/hosts'
alias sshedit='vim ~/.ssh/config'
alias rid='head -n 1 /dev/random | md5 | cut -c 1-8'
alias crid="rid | tr -d '\n' | pbcopy"
alias pwdcp="pwd | pbcopy"
alias timestamp="date '+%s'"

# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# chrome, mainly supports chrome headless
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"

# because
alias vim="nvim"
alias photoshop="open -a /Applications/Adobe\ Photoshop\ CC\ 2017/Adobe\ Photoshop\ CC\ 2017.app/Contents/MacOS/Adobe\ Photoshop\ CC\ 2017"
alias getanicenewwallpaper="wget https://source.unsplash.com/random/1920x1200/\?minimal --output-document=$(date +%s).jpg"
alias btrestart="blueutil -p 0 && sleep 5 && blueutil -p 1"

# common ls/rm aliases
# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # OS X `ls`
    colorflag="-G"
fi
alias l="ls -lah ${colorflag}"
alias la="ls -AF ${colorflag}"
alias ll="ls -lFh ${colorflag}"
alias lld="ls -l | grep ^d"
alias rmf="rm -rf"

# ip addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# production stuff
alias morphagenemv="gls -v | cat -n | while read n f; do mv -n \"\$f\" \"mg\$n.wav\"; done"

# oft-tasks shortcuts
alias vickymv="rsync -ra --checksum /Volumes/VICKY/DCIM/100_FUJI/*.JPG /Users/joshuadavenport/temp/vicky --include=\"*.JPG\""
alias vickyrm="rm /Volumes/VICKY/DCIM/100_FUJI/*.JPG && rm /Users/joshuadavenport/temp/vicky/*.JPG"

# music 
alias qrec="ffmpeg -f avfoundation -i \":0\" ~/Documents/rec_\$(date \"+%F_%H-%M-%S\").mp3"
alias bcdl="bandcamp-dl --embed-art"
