# homestead
function homestead() {
    (cd ~/Homestead && vagrant $*)
}

# useful for svn
vsort() {
    sort -t. -k 1,1n -k 2,2n -k 3,3n -k 4,4n $1
}

# find shorthand
function f() {
    find . -name "$1" 2>&1 | grep -v 'Permission denied'
}

# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$_";
}

# Run `dig` and display the most useful info
function digga() {
    dig +nocmd "$1" any +multiline +noall +answer;
}
