lipsum () {
  lorem --cols 0 -s $1 | sed -e 's/[?!;]/./g'
}

clipsum () {
  lipsum $1 | pbcopy
}

zshcolors() {
  for code ({000..255}) print -P -- "$code: %F{$code}This is how your text would look like%f"
}

function hgrep() {
    (history | grep $*)
}

# homestead
function hs() {
    if [[ $@ == "edit" ]]; then
       command vim ~/Homestead/Homestead.yaml
    else
       (cd ~/Homestead && vagrant $*)
    fi
}

function servers() {
    original_dir=$(pwd);
    echo "\033[0;32m# HOMESTEAD\033[0m";
    homestead status;
    echo "";
    echo "\033[0;32m# WIND\033[0m";
    cd && ~/sites/wind/ && bin/status;
    echo "";
    echo "\033[0;32m# WOLF\033[0m";
    cd && ~/sites/wolf/ && bin/status;
    echo "";
    echo "\033[0;32m# CONDOR B2C\033[0m";
    cd && ~/sites/condor-group/ && bin/status;
    echo "";
    echo "\033[0;32m# CONDOR B2B\033[0m";
    cd && ~/sites/condor-b2b/ && bin/status;
    cd "$original_dir";
}

# useful for svn
vsort() {
    sort -t. -k 1,1n -k 2,2n -k 3,3n -k 4,4n $1
}

# find shorthand
function f() {
    find . -name "$1" 2>&1 | grep -v 'Permission denied'
}

# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$_";
}

# Run `dig` and display the most useful info
function digga() {
    dig +nocmd "$1" any +multiline +noall +answer;
}

# update phpenv with local version installed by homebrew
phpenv_versions_rehash() {
  local _php_path;
  local _php_full_ver;
  local _php_version;

  for _php_path in "$(brew --cellar)"/php*/[0-9].[0-9].*; do
    _php_full_ver="${_php_path##*/}";
    _php_version="${_php_full_ver%.*}";
    unlink "${HOME}/.phpenv/versions/${_php_version}" 2>/dev/null || true
    ln -s "${_php_path}" "${HOME}/.phpenv/versions/${_php_version}" 2>/dev/null || true
  done

  phpenv rehash
}

# app stuff
function open_lastfm_maybe() {
  if [ `ps aux | grep 'Last.fm' | grep -v 'grep' | wc -l` -lt 1 ]; then; open -jga /Applications/Last.fm.app; fi;
}
