[submodule ".config/oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .config/oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .config/oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/oh-my-zsh/custom/themes/powerlevel10k"]
	path = .config/oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
