[user]
	name = Josh Davenport-Smith
	email = josh.davenport@tghp.co.uk
[core]
	autocrlf = input
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[alias]
	# http://caiustheory.com/git-git-git-git-git/
	git = "!exec git"
	# typos - thanks to calus also for the start of this list - https://github.com/caius/zshrc/blob/master/dotfiles/gitconfig
	ad = add
	ass = add
	dff = diff
	doff = diff
	emrge = merge
	idff = diff
	mergfe = merge
	mregetool = mergetool
	oull = pull
	pish = push
	pl = pull
	ps = push
	psuh = push
	pu = up
	puhs = push
	puosh = push
	pus = push
	pushy = push
	reabse = rebase
	satsh = stash
	sst = status -sb
	t = status -sb
	tint = init
	tpull = pull
	tpush = push
[color]
	ui = auto
[advice]
	statusHints = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
