<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>5FD48980-CFCD-43E7-B8B8-60E3461C4FDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4B4DDE2-297F-4D9F-BAC1-C5C840C02ACF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDC90EAF-E1DE-45DE-9A13-59CD64057F8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC06AFD7-F08D-4E94-9B4A-35F05FE79090</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4B4DDE2-297F-4D9F-BAC1-C5C840C02ACF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDC90EAF-E1DE-45DE-9A13-59CD64057F8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Thomas Frank</string>
	<key>description</key>
	<string>Pastes a copied Notion link with the notion:// protocol</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Paste Notion Link</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>2</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5FD48980-CFCD-43E7-B8B8-60E3461C4FDB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BDC90EAF-E1DE-45DE-9A13-59CD64057F8F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>EC06AFD7-F08D-4E94-9B4A-35F05FE79090</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>https</string>
				<key>replacestring</key>
				<string>notion</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>C4B4DDE2-297F-4D9F-BAC1-C5C840C02ACF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A simple workflow that looks for "https" in your clipboard's current text, replaces it with "notion", and pastes it.

Note that this will work on ANY URL, so it's advisable to bind it to a keyboard shortcut you don't use for other purposes.

Developed by Thomas Frank - more info at thomasjfrank.com/notion</string>
	<key>uidata</key>
	<dict>
		<key>5FD48980-CFCD-43E7-B8B8-60E3461C4FDB</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>BDC90EAF-E1DE-45DE-9A13-59CD64057F8F</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>C4B4DDE2-297F-4D9F-BAC1-C5C840C02ACF</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>EC06AFD7-F08D-4E94-9B4A-35F05FE79090</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>http://thomasjfrank.com/notion</string>
</dict>
</plist>
